---
import type { Project } from "~/data/projects"
import { Picture } from "astro:assets"
import Paragraph from "../common/Paragraph.astro"
import WithPlaceholder from "../common/WithPlaceholder.astro"

interface Props {
  project: Project
}

const { project } = Astro.props
const { title, previewUrl, githubUrl } = project

const url = previewUrl || githubUrl
const projectName = title.split(" - ")[0].toLowerCase()
const imageUrl = `https://assets.sothearo.dev/images/projects/${projectName}/preview.png`
const darkImageUrl = `https://assets.sothearo.dev/images/projects/${projectName}/preview-dark.png`
const logoUrl = `https://assets.sothearo.dev/logos/${projectName}.svg`
const domain = url?.replace(/^https?:\/\//, "").replace(/\/$/, "")
---

<a href={url} target="_blank" rel="noopener noreferrer" class="card">
  <div class="header">
    <img src={logoUrl} alt={`${projectName} logo`} class="logo" />
    <Paragraph size="sm" reset class="title">
      {title}
    </Paragraph>
    <Paragraph size="xs" secondary reset>
      {domain}
    </Paragraph>
  </div>

  <WithPlaceholder src={imageUrl} class="image-wrapper light">
    <Picture
      src={imageUrl}
      alt={title}
      width={600}
      height={400}
      widths={[600, 1200]}
      formats={["avif", "webp"]}
      class="image"
    />
  </WithPlaceholder>
  <WithPlaceholder src={darkImageUrl} class="image-wrapper dark">
    <Picture
      src={darkImageUrl}
      alt={title}
      width={600}
      height={400}
      widths={[600, 1200]}
      formats={["avif", "webp"]}
      class="image"
    />
  </WithPlaceholder>
</a>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--block-spacing) * 1.5);
    padding: 1.5rem;
    border: 1px solid var(--color-border-subtle);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-header);
    background-color: var(--color-background);
    transition: background-color 0.2s ease, transform 0.1s ease;

    .header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .logo {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.625rem;
        box-shadow: var(--shadow-header);
      }

      :global(.title) {
        margin-top: 0.5rem;
        font-weight: 500;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: color-mix(in srgb, var(--color-accent) 40%, var(--color-background));
      }
    }

    &:active {
      transform: scale(0.96);
    }
  }

  :global(.image-wrapper) {
    border-radius: 0.625rem;
    border: 1px solid var(--color-border-subtle);
    overflow: hidden;

    &.light {
      display: block;
    }

    &.dark {
      display: none;
    }

    .image {
      border-radius: 8px;
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
    }
  }

  :global([data-theme="dark"] .image-wrapper) {
    &.light {
      display: none;
    }

    &.dark {
      display: block;
    }
  }
</style>
