---
import { Picture } from "astro:assets"
import StarIcon from "~/icons/star.svg"
import Separator from "../common/Separator.astro"
import WithPlaceholder from "../common/WithPlaceholder.astro"

interface Props {
  title: string
  coverId: string
  rating?: number
}

const { title, coverId, rating } = Astro.props
const imageUrl = `https://mangadex.org/covers/${coverId}.jpg.512.jpg`
---

<div class="card">
  <WithPlaceholder src={imageUrl} class="image">
    <Picture
      src={imageUrl}
      alt={title}
      width={256}
      height={384}
      widths={[256, 512]}
      formats={["avif", "png"]}
    />
  </WithPlaceholder>
  <h3 class="title">
    {title}
    {rating && (
      <div class="rating-section">
        <Separator />
        <div class="stars">
          {Array.from({ length: rating }, () => (
            <StarIcon class="star" />
          ))}
        </div>
      </div>
    )}
  </h3>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    :global(.image) {
      aspect-ratio: 2/3;
      border-radius: 0.5rem;
      box-shadow: var(--shadow-card);
    }

    .title {
      font: var(--font-sm);
      font-family: var(--font-heading);
      font-weight: 700;
      color: var(--color-foreground);
      text-transform: capitalize;
      margin-block: 0;

      .rating-section {
        display: flex;
        margin-top: 0.125rem;
        align-items: center;
        gap: 0.5rem;

        .separator {
          flex: 1;
        }

        .stars {
          display: flex;
          gap: 0.125rem;

          .star {
            width: 0.75rem;
            height: 0.75rem;
            color: #fbbf24;
          }
        }
      }
    }
  }
</style>
