---
import type { CollectionEntry } from "astro:content"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import BlogMeta from "./BlogMeta.astro"

interface Props {
  post: CollectionEntry<"blog"> & { readingTime?: string }
}

const { post } = Astro.props
---

<article class="card">
  <Heading as="h2" size="lg">
    <a href={`/blog/${post.id}`} class="title">
      {post.data.title}
    </a>
  </Heading>

  <Paragraph secondary size="sm" class="description">
    {post.data.description}
  </Paragraph>

  <BlogMeta date={post.data.publishedAt} tags={post.data.tags} readingTime={post.readingTime} />
</article>

<style>
  .card {
    h2 {
      margin-block: 0;
    }

    .title {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      @media (hover: none) {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    .description {
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
</style>
