---
import type { CollectionEntry } from "astro:content"
import Body from "~/components/app/Body.astro"
import Footer from "~/components/app/Footer.astro"
import Head from "~/components/app/Head.astro"
import Header from "~/components/app/Header.astro"
import BlogMeta from "~/components/blog/BlogMeta.astro"
import BlogNav from "~/components/blog/BlogNav.astro"
import BlogReadingProgressBar from "~/components/blog/BlogReadingProgressBar.svelte"
import Container from "~/components/common/Container.astro"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import Separator from "~/components/common/Separator.astro"
import "~/styles/code.css"
import "~/styles/prose.css"

interface Props {
  entry: CollectionEntry<"blog">
  prevPost: CollectionEntry<"blog"> | null
  nextPost: CollectionEntry<"blog"> | null
  readingTime?: string
}

const { entry, prevPost, nextPost, readingTime } = Astro.props
const ogImageUrl = `${Astro.url.origin}/blog/${entry.id}/og.png`
---

<html lang="en" transition:name="root">
  <Head
    title={entry.data.title}
    description={entry.data.description}
    ogImage={ogImageUrl}
    type="article"
    includeKatex
  />
  <Body>
    <Header />
    <Container as="main" transition:animate="fade">
      <article class="post">
        <header class="header">
          <Heading as="h1" size="2xl" reset>{entry.data.title}</Heading>
          <Paragraph secondary class="text">{entry.data.description}</Paragraph>
          <BlogMeta date={entry.data.publishedAt} tags={entry.data.tags} readingTime={readingTime} />
        </header>

        <div class="prose">
          <Separator />
          <slot />
        </div>

        <BlogNav {prevPost} {nextPost} />
      </article>
    </Container>
    <Footer />
    <BlogReadingProgressBar client:idle />
  </Body>
</html>

<style>
  .post {
    padding-top: 2rem;

    .header {
      & .text {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .prose {
      .separator {
        margin-block: var(--block-spacing);
      }
    }
  }
</style>
