---
import type { CollectionEntry } from "astro:content"
import Analytics from "@vercel/analytics/astro"
import Footer from "~/components/app/Footer.astro"
import Head from "~/components/app/Head.astro"
import Header from "~/components/app/Header.astro"
import BlogMeta from "~/components/blog/BlogMeta.astro"
import BlogNav from "~/components/blog/BlogNav.astro"
import Container from "~/components/common/Container.astro"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import Separator from "~/components/common/Separator.astro"
import "~/styles/code.css"
import "~/styles/prose.css"

interface Props {
  entry: CollectionEntry<"blog">
  prevPost: CollectionEntry<"blog"> | null
  nextPost: CollectionEntry<"blog"> | null
}

const { entry, prevPost, nextPost } = Astro.props
const ogImageUrl = `${Astro.url.origin}/blog/${entry.id}/og.png`
---

<html lang="en" transition:name="root">
  <Head title={entry.data.title} description={entry.data.description} ogImage={ogImageUrl} />
  <body class="app">
    <Header />
    <main transition:animate="fade">
      <article class="post">
        <Container as="header" class="header">
          <Heading as="h1" size="2xl">{entry.data.title}</Heading>
          <Paragraph>{entry.data.description}</Paragraph>
          <BlogMeta date={entry.data.publishedAt} tags={entry.data.tags} />
        </Container>

        <Container class="prose">
          <Separator />
          <slot />
        </Container>

        <BlogNav {prevPost} {nextPost} />
      </article>
    </main>
    <Footer />
    <Analytics />
  </body>
</html>

<style>
  .post {
    padding-top: 2rem;

    .header {
      h1 {
        margin-block: 0;
      }

      p {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .prose .separator {
      margin-block: 1.75rem;
    }
  }
</style>
